@page "/Articulo/Edit/{ArticuloId:int}"

@inject ArticuloService articuloService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Modificar Tarea</PageTitle>
<EditForm Model="Articulo" OnValidSubmit="Modificar">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card shadow-lg">
			@*Header*@
			<div class="card-header text-center">
				<h3><strong>Modificar art&iacute;culo</strong></h3>
			</div>
			@*Body*@
			<div class="card-body">
				<div class="row">
					@*Id*@
					<div class="col-1">
						<label class="form-label" for="Id"><strong>Art&iacute;culoId</strong></label>
						<InputNumber class="form-control" id="Id" @bind-Value="Articulo.ArticuloId" readonly></InputNumber>
					</div>
				</div>
				@*Descripcion*@
				<div class="col-3">
					<label class="form-label" for="descripcion"><strong>Descripci&oacute;n</strong></label>
					<InputText class="form-control" id="descripcion" @bind-Value="Articulo.Descripcion"></InputText>
					<ValidationMessage For="(()=> Articulo.Descripcion)" />
				</div>
				@*Costo*@
				<div class="col-3">
					<label class="form-label" for="costo"><strong>Costo</strong></label>
					<InputNumber class="form-control" id="costo" @bind-Value="Articulo.Costo"></InputNumber>
					<ValidationMessage For="(()=> Articulo.Costo)" />
				</div>
				@*Ganancia*@
				<div class="col-2">
					<label class="form-label" for="Ganancia"><strong>Ganancia</strong></label>
					<InputNumber class="form-control" id="Ganancia" @bind-Value="Articulo.Ganancia"></InputNumber>
					<ValidationMessage For="(()=> Articulo.Ganancia)" />
				</div>
				@*Precio*@
				<div class="col-3">
				<label class="form-label" for="Precio"><strong>Precio</strong></label>
				<InputNumber class="form-control" id="Precio" @bind-Value="Articulo.Precio"></InputNumber>
				<ValidationMessage For="(()=> Articulo.Precio)" />
				</div>

			</div>
			@*Footer*@
			<div class="card-footer text-center">
				<button type="button" class="btn btn-outline-primary" @onclick="()=>Volver()"><Icon Name="IconName.Arrow90DegLeft"></Icon> Volver</button>
				<button type="submit" class="btn btn-outline-success"><Icon Name="IconName.Pencil"></Icon> Modificar</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int ArticuloId { get; set; }
	public Articulos Articulo { get; set; } = new Articulos();
	public List<ToastMessage> Mensaje = new List<ToastMessage>();

	protected override async Task OnInitializedAsync() {
		Articulo = await articuloService.Buscar(ArticuloId);
	}

	private ToastMessage ShowToast(ToastType toastType, string message) {
		var mensaje = new ToastMessage() {
				Type = toastType,
				Message = $"{message}. El {DateTime.Now.ToString("dd/MM/yyyy")} a las {DateTime.Now.ToString("hh:mm tt")}",
			};
		toastService.Notify(mensaje);
		return mensaje;
	}

	public void Notificacion(ToastType toastType, string message) => Mensaje.Add(ShowToast(toastType, message));

	private async Task Modificar() {
		if (await Validar()) {
			Notificacion(ToastType.Warning, "Ya existe un articulo con esta descripción");
			return;
		}
		var crear = await articuloService.Guardar(Articulo);
		if (crear) {
			Notificacion(ToastType.Success, $"El artículo {Articulo.Descripcion} se ha actualizado correctamente");
			Nuevo();
		}
		else
			Notificacion(ToastType.Danger, "No se ha modificado correctamente");
	}

	private async Task<bool> Validar() {
		var existe = await articuloService.ExisteDescripcion(Articulo.ArticuloId, Articulo.Descripcion!);
		return existe;
	}

	private void Nuevo() {
		Articulo = new Articulos();
	}

	private void Volver() {
		Navigation.NavigateTo("/Articulo/Index");
	}
}